.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;

  &.center-content {
    align-items: center;
  }

  &.first {
    margin-top: 0rem;
  }

  &.space-top {
    margin-top: 3rem;
  }

  &.padded-1 {
    padding-bottom: 1rem;
  }
  &.padded-2 {
    padding-bottom: 2rem;
  }
  &.padded-3 {
    padding-bottom: 3rem;
  }

  .side-padded {
    padding: 0 1rem;
  }

  .col-2of12 {
    width: 16.66%;
  }

  .col-3of12 {
    width: 25%;
  }

  .col-4of12 {
    width: 33.33%;
  }

  .col-6of12 {
    width: 50%;
  }

  .col-9of12 {
    width: 75%;
  }

  .col-12of12 {
    width: 100%;
  }

  .has-buttons {
    padding: 0 1rem;

    &.left {
      padding-left: 0;
    }
    &.right {
      padding-right: 0;
    }
  }
}

// Max canvas width (Tablet)
@media(max-width: 50rem) {
  .flex-container{
    // .col-4of12 {
    //   width: 50%;
    // }
    .col-6of12 {
      width: 100%;
    }
    .col-9of12 {
      width: 100%;
    }
    .col-3of12 {
      padding-top: 3rem;
      width: 50%;

      &.has-buttons {
        padding-top: 0;

        &.left {
          padding-right: 1rem;
        }
        &.right {
          padding-left: 1rem;
        }
      }
    }

    .has-buttons.right{
      padding: 0;
    }

    .has-buttons.left {
      padding: 0;
    }

    .empty {
      display: none;
    }
  }
}

// Phone-ish layout
@media(max-width: 32.25rem) {
  .flex-container{
    .col-4of12 {
      width: 100%;
    }
    .has-buttons {
      padding: 0;
      // padding-right: 2rem;
    }
    .project-grid {
      margin-bottom: 3rem;
      .centered {
        margin: 0.5rem auto;
      }
    }
  }
}